# =========================
# Dependencias
# =========================

node_modules/
backend/data/

# =========================
# Variables de entorno
# =========================

.env
.env.*
!.env.example


# =========================
# Build / producción
# =========================

dist/
build/
.vite/


# =========================
# SQLite / bases de datos
# =========================

*.sqlite
*.sqlite3
*.db
*.db-shm
*.db-wal


# =========================
# Uploads / archivos subidos
# =========================

uploads/


# =========================
# Logs
# =========================

*.log
logs/


# =========================
# Archivos temporales
# =========================

tmp/
temp/

*.tmp


# =========================
# Sistema operativo
# =========================

.DS_Store
Thumbs.db




# =========================
# TypeScript
# =========================

*.tsbuildinfo